force-app/main/default/flows/Auto_Close_Completed_Courses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment010_Set_Course_Enrollment_Fields</name>
        <label>Assignment010 Set Course Enrollment Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop010_Iterate_through_Related_Course_Enrollments.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop010_Iterate_through_Related_Course_Enrollments.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOutputCourseEnrollments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop010_Iterate_through_Related_Course_Enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop010_Iterate_through_Related_Course_Enrollments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision010_Check_Course_End_Date</name>
        <label>Decision010 Check Course End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_has_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get010_Get_Course.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update010_Update_Course_Status</targetReference>
            </connector>
            <label>End Date has passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Close Completed Courses​ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Close Completed Courses​</label>
    <loops>
        <name>Loop010_Iterate_through_Related_Course_Enrollments</name>
        <label>Loop010 Iterate through Related Course Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get015_Get_Related_Course_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment010_Set_Course_Enrollment_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update015_Update_Course_Enrollments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get010_Get_Course</name>
        <label>Get010 Get Course</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get015_Get_Related_Course_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get015_Get_Related_Course_Enrollments</name>
        <label>Get015 Get Related Course Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision010_Check_Course_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Enrolment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update010_Update_Course_Status</name>
        <label>Update010 Update Course Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop010_Iterate_through_Related_Course_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update015_Update_Course_Enrollments</name>
        <label>Update015 Update Course Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colOutputCourseEnrollments</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010_Get_Course</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOutputCourseEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Enrolment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
