force-app/main/default/flows/Course_Enrollment_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment010_Assign_Enrollment_Fields</name>
        <label>Assignment010 Assign Enrollment Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCourseEnrollment.Attendee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_an_Attendee.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordCourseEnrollment.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_a_Course</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordCourseEnrollment.Enrolment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create010_Insert_Course_Enrollment</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>choiceAttendees</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceCourses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Course__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaCurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Course Enrollment Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Enrollment Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create010_Insert_Course_Enrollment</name>
        <label>Create010 Insert Course Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen015_Success_Screen</targetReference>
        </connector>
        <inputReference>recordCourseEnrollment</inputReference>
    </recordCreates>
    <screens>
        <name>Screen010_Select_Course_and_Attendee</name>
        <label>Select Course and Attendee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment010_Assign_Enrollment_Fields</targetReference>
        </connector>
        <fields>
            <name>Select_a_Course</name>
            <choiceReferences>choiceCourses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select a course from the list of options&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_an_Attendee</name>
            <choiceReferences>choiceAttendees</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select an Attendee</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select a student</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Test_Text</name>
            <dataType>String</dataType>
            <fieldText>Test Text</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen015_Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textSuccessMessage</name>
            <fieldText>&lt;p&gt;Course Enrollment has successfully completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen010_Select_Course_and_Attendee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordCourseEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Enrolment__c</objectType>
    </variables>
</Flow>
